{% if categories %}
<div class="tab-set set-ctab">
	<ul class="nav nav-tabs" id="tab-set-category">
		{% for category in categories %}
	  		<li><a data-toggle="tab" id="{{ category.category_id }}" href="#category_{{ category.category_id }}">{{ category.name }}</a></li>
		{% endfor %}
	</ul>

	<div class="tab-content">
		{% for category in categories %}
		<div id="category_{{ category.category_id }}" class="tab-pane fade"></div>
		{% endfor %}
	</div>
	<script type="text/javascript"><!--
	$(document).ready(function(){
		$('#tab-set-category a:first').trigger("click");
	});

	//--></script>
	<script type="text/javascript"><!--

        $( "#tab-set-category a" ).click(function(){
        	var category_id = $(this).attr('id');

			$.ajax({
				url: 'index.php?route=extension/module/penblog_block/tab_item&category_id=' +  category_id + '&{{ block_data|url_encode }}',
				type: "GET",
				dataType: 'html',
				success: function(html){
					$('#category_' + category_id).html(html);
				}
			});

        });
--></script>
</div>
{% endif %}