{{ header }} {{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb"> 
          {% for breadcrumb in breadcrumbs %}
          <li>
            <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
          </li> 
          {% endfor %}
      </ul>
      <div class="pull-right">
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary btn-sm">
          <i class="fa fa-plus"></i>
          {{ button_add }}
        </a>
        <button type="button" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-default btn-sm" onclick="$('#form-article').attr('action', '{{ copy }}').submit()">
          <i class="fa fa-copy"></i>
          {{ button_copy }}
        </button>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger btn-sm" onclick="confirm('{{ text_confirm }}') ? $('#form-article').submit() : false;">
          <i class="fa fa-trash-o"></i>
          {{ button_delete }}
        </button>
      </div>
      {{ shortcut }}
    </div>
  </div>
  <div class="container-fluid" id="penblog">
    {% if error_warning %}
    <div class="alert alert-danger">
      <i class="fa fa-exclamation-circle"></i>
      {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success">
      <i class="fa fa-check-circle"></i>
      {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
      <div id="filter-article" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-filter"></i>
              {{ button_filter }}
            </h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label" for="input-name">
                {{ entry_name }}
              </label>
              <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"
              />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-category">
                {{ entry_category }}
              </label>
              <select name="filter_category" id="input-category" class="form-control">
                <option value="">
                  {{ text_select }}
                </option>
                {% for category in categories %} 
                  {% if category.category_id == filter_category%}
                  <option value="{{ category.category_id }}" selected="selected">
                    {{ category.name }}
                  </option>
                  {% else %}
                  <option value="{{ category.category_id }}">
                    {{ category.name }}
                  </option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label class="control-label" for="input-status">
                {{ entry_status }}
              </label>
              <select name="filter_status" id="input-status" class="form-control">
                <option value="*">
                  {{ text_select }}
                </option>
                {% if filter_status %}
                <option value="1" selected="selected">
                  {{ text_enabled }}
                </option>
                {% else %}
                <option value="1">
                  {{ text_enabled }}
                </option>
                {% endif %} 
                {% if not filter_status and filter_status is not empty %}
                <option value="0" selected="selected">
                  {{ text_disabled}}
                </option>
                {% else %}
                <option value="0">
                  {{ text_disabled }}
                </option>
                {% endif %}
              </select>
            </div>
            <div class="form-group">
              <label class="control-label" for="input-date-added">
                {{ entry_date_added }}
              </label>
              <div class="input-group date">
                <input type="text" name="filter_date_added" value="{{ filter_date_added }}" placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD"
                  id="input-date-added" class="form-control" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="input-date-modified">
                {{ entry_date_modified }}
              </label>
              <div class="input-group date">
                <input type="text" name="filter_date_modified" value="{{ filter_date_modified }}" placeholder="{{ entry_date_modified }}"
                  data-date-format="YYYY-MM-DD" id="input-date-modified" class="form-control" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <button type="button" id="button-filter" class="btn btn-primary" style="width:100%;">
                <i class="fa fa-search"></i>
                {{ button_filter }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-md-pull-3 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-list"></i>
              {{ text_list }}
            </h3>
          </div>
          <div class="panel-body">
            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-article">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td style="width: 1px;" class="text-center">
                        <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" />
                      </td>
                      <td class="text-left">
                        {{ text_image }}
                      </td>
                      <td class="text-left">
                        {% if sort == 'pd.name' %}
                        <a href="{{ sort_name }}" class="{{ order|lower }}">
                          {{ column_name }}
                        </a>
                        {% else %}
                        <a href="{{ sort_name }}">
                          {{ column_name }}
                        </a>
                        {% endif %}
                      </td>
                      <td class="text-left">
                        {% if sort == 'p.date_added' %}
                        <a href="{{ sort_date_added }}" class="{{ order | lower }}">
                          {{ column_date_added }}
                        </a>
                        {% else %}
                        <a href="{{ sort_date_added }}">
                          {{ column_date_added }}
                        </a>
                        {% endif %}
                      </td>
                      <td class="text-right">
                        {% if sort == 'p.date_modified' %}
                        <a href="{{ sort_date_modified }}" class="{{ order | lower }}">
                          {{ column_date_modified }}
                        </a>
                        {% else %}
                        <a href="{{ sort_date_modified }}">
                          {{ column_date_modified }}
                        </a>
                        {% endif %}
                      </td>
                      <td class="text-center">
                        {{ column_comment }}
                      </td>
                      <td class="text-left">
                        {% if sort == 'p.status' %}
                        <a href="{{ sort_status }}" class="{{ order | lower }}">
                          {{ column_status }}
                        </a>
                        {% else %}
                        <a href="{{ sort_status }}">
                          {{ column_status }}
                        </a>
                        {% endif %}
                      </td>
                      <td class="text-left">
                        {% if sort == 'p.order' %}
                        <a href="{{ sort_order }}" class="{{ order | lower }}">
                          {{ column_order }}
                        </a>
                        {% else %}
                        <a href="{{ sort_order }}">
                          {{ column_order }}
                        </a>
                        {% endif %}
                      </td>
                      <td class="text-right">
                        {{ column_action }}
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    {% if articles %} 
                      {% for article in articles %}
                      <tr>
                        <td class="text-center">
                          {% if article.article_id in selected|keys %}
                          <input type="checkbox" name="selected[]" value="{{ article.article_id}}" checked="checked" /> 
                          {% else %}
                          <input type="checkbox" name="selected[]" value="{{ article.article_id }}" /> 
                          {% endif %}
                        </td>
                        <td class="text-center">
                          <img src="{{ article.image }}" data-toggle="tooltip" title="{{ article.name }}" />
                        </td>
                        <td class="text-left">
                          {{ article.name }}
                        </td>
                        <td class="text-left">
                          {{ article.date_added }}
                        </td>
                        <td class="text-right">
                          {{ article.date_modified }}
                        </td>
                        <td class="text-center">
                          {{ article.comment }} Comment(s)</td>
                        <td class="text-left">
                          {{ article.status }}
                        </td>
                        <td class="text-left">
                          {{ article.order }}
                        </td>
                        <td class="text-right">
                          <a href="{{ article.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary btn-sm">
                            <i class="fa fa-pencil"></i>
                          </a>
                          <a href="{{ article.view }}" target="_blank" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-primary btn-sm">
                            <i class="fa fa-eye"></i>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    {% else %}
                    <tr>
                      <td class="text-center" colspan="9">
                        {{ text_no_results }}
                      </td>
                    </tr>
                    {% endif %} 
                  </tbody>
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left">
                {{ pagination }}
              </div>
              <div class="col-sm-6 text-right">
                {{ results }}
              </div>
            </div>
          </div>
          <div class="panel-footer">{{ penblog_powered }}</div>
        </div>
      </div>
    </div>

  </div>
  <script type="text/javascript">
    $('#button-filter').on('click', function () {
      var url = 'index.php?route=extension/penblog/article&user_token={{ user_token }}';

      var filter_name = $('input[name=\'filter_name\']').val();

      if (filter_name) {
        url += '&filter_name=' + encodeURIComponent(filter_name);
      }

      var filter_category = $('select[name=\'filter_category\']').val();

      if (filter_category) {
        url += '&filter_category=' + encodeURIComponent(filter_category);
      }

      var filter_date_added = $('input[name=\'filter_date_added\']').val();

      if (filter_date_added) {
        url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
      }

      var filter_date_modified = $('input[name=\'filter_date_modified\']').val();

      if (filter_date_modified) {
        url += '&filter_date_modified=' + encodeURIComponent(filter_date_modified);
      }

      var filter_status = $('select[name=\'filter_status\']').val();

      if (filter_status != '*') {
        url += '&filter_status=' + encodeURIComponent(filter_status);
      }

      location = url;
    });
  </script>
  <script type="text/javascript">
    $('input[name=\'filter_name\']').autocomplete({
      'source': function (request, response) {
        $.ajax({
          url: 'index.php?route=extension/penblog/article/autocomplete&user_token={{ user_token }}&filter_name=' +
            encodeURIComponent(request),
          dataType: 'json',
          success: function (json) {
            response($.map(json, function (item) {
              return {
                label: item['name'],
                value: item['article_id']
              }
            }));
          }
        });
      },
      'select': function (item) {
        $('input[name=\'filter_name\']').val(item['label']);
      }
    });
  </script>
  <script type="text/javascript">
    $('.date').datetimepicker({
      pickTime: false
    });
  </script>
</div>
{{ footer }}