<input type="hidden" name="block" value="article_carousel">
<div class="form-group">
	<label class="col-sm-2 control-label" for="input-article">{{ entry_article }}</label>
	<div class="col-sm-10">
		<div class="col-sm-4">
			<select name="" class="multiselect_article form-control" size="8" multiple="multiple" data-right="#multiselect_to_article" data-right-all="#right_All_article" data-right-selected="#right_Selected_article" data-left-all="#left_All_article" data-left-selected="#left_Selected_article">
				{% if articles %}
					{% for article in articles %}
						{% if article.article_id not in block_articles %}
						<option value="{{ article.article_id}}">{{ article.name }}</option>
						{% endif %}
					{% endfor %}
				{% endif %}
			</select>
		</div>

		<div class="col-sm-2">
			<button type="button" id="right_All_article" class="btn btn-block btn-primary" data-toggle="tooltip" title="Select All"><i class="fa fa-angle-double-right fa-2x"></i></button>
			<button type="button" id="right_Selected_article" class="btn btn-block" data-toggle="tooltip" title="Select"><i class="fa fa-angle-right fa-2x"></i></button>
			<button type="button" id="left_Selected_article" class="btn btn-block" data-toggle="tooltip" title="Unselect"><i class="fa fa-angle-left fa-2x"></i></button>
			<button type="button" id="left_All_article" class="btn btn-block btn-danger" data-toggle="tooltip" title="Unselect All"><i class="fa fa-angle-double-left fa-2x"></i></button>
		</div>

		<div class="col-xs-4">
			<select name="block_data[block_articles][]" id="multiselect_to_article" class="form-control" size="8" multiple="multiple">
				{% for article in articles %}
				{% if article.article_id in block_articles %}
				<option value="{{ article.article_id}}">{{ article.name }}</option>
				{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">{{ entry_autoscroll }}</label>
	<div class="btn-group col-md-4" data-toggle="buttons">
		<label class="btn {{ autoscroll == 1?'btn-primary active': 'btn-default' }}">
		<input type="radio" name="block_data[autoscroll]" value="1" {{ autoscroll == 1?'checked': '' }}>{{ text_on }}</label>
		<label class="btn {{ autoscroll == 0?'btn-danger active': 'btn-default' }}">
		<input type="radio" name="block_data[autoscroll]" value="0" {{ autoscroll == 0?'checked':'' }}>{{ text_off }}</label>
	</div>
	<label class="col-sm-2 control-label">{{ entry_pauseonhover }}</label>
	<div class="btn-group col-md-4" data-toggle="buttons">
		<label class="btn {{ pauseonhover == 1?'btn-primary active':'btn-default' }}">
		<input type="radio" name="block_data[pauseonhover]" value="1" {{ pauseonhover == 1?'checked':'' }}>{{ text_on }}</label>
		<label class="btn {{ pauseonhover == 0?'btn-danger active':'btn-default' }}">
		<input type="radio" name="block_data[pauseonhover]" value="0" {{ pauseonhover == 0?'checked':'' }}>{{ text_off }}</label>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">{{ entry_nav }}</label>
	<div class="btn-group col-md-4" data-toggle="buttons">
		<label class="btn {{ show_nav == 1?'btn-primary active':'btn-default' }}">
		<input type="radio" name="block_data[show_nav]" value="1" {{ show_nav == 1?'checked':'' }}>{{ text_on }}</label>
		<label class="btn {{ show_nav == 0?'btn-danger active':'btn-default' }}">
		<input type="radio" name="block_data[show_nav]" value="0" {{ show_nav == 0?'checked':'' }}>{{ text_off }}</label>
	</div>
	<br>
	<label class="col-sm-2 control-label">{{ entry_dot }}</label>
	<div class="btn-group col-md-4" data-toggle="buttons">
		<label class="btn {{ show_dot == 1?'btn-primary active':'btn-default' }}">
		<input type="radio" name="block_data[show_dot]" value="1" {{ show_dot == 1?'checked':'' }}>{{ text_on }}</label>
		<label class="btn {{ show_dot == 0?'btn-danger active':'btn-default' }}">
		<input type="radio" name="block_data[show_dot]" value="0" {{ show_dot == 0?'checked':'' }}>{{ text_off }}</label>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">{{ entry_image }}</label>
	<div class="col-sm-10">
		<div class="form-inline">
			<div class="input-group col-md-6">
				<span class="input-group-addon">Width: </span>
					<input name="block_data[image_width]" type="text" class="form-control" value="{{ image_width }}">
				<span class="input-group-addon">px </span>
			</div>
			<div class="input-group col-md-6">
				<span class="input-group-addon">Height: </span>
				<input name="block_data[image_height]" type="text" class="form-control" value="{{ image_height }}">
				<span class="input-group-addon">px </span>
			</div>
		</div>
	</div>
</div>